div.inst-elem-id {
	flex: none;
	width: 30px;
	color: rgb(150, 150, 150);
}
div.inst-header-id {
	flex: none;
	width: 30px;
}

div.inst-elem-inst {
	flex: none;
	width: 120px;
	color: rgb(172, 0, 0);
	font-weight: bold;
}
div.inst-header-inst {
	flex: none;
	width: 120px;
}

div.inst-elem-opcode {
	flex: none;
	width: 100px;
	border-right: 1px dashed rgb(120, 120, 120);
	margin-right: 20px;
}
div.inst-header-opcode {
	flex: none;
	width: 100px;
	border-right: 1px dashed rgb(120, 120, 120);
	margin-right: 20px;
}

div.inst-elem-addressing {
	flex: none;
	width: 130px;
	text-align: center;
}
div.inst-header-addressing {
	flex: none;
	width: 130px;
	text-align: center;
}

div.inst-elem-flags {
	flex: none;
	width: 130px;
	text-align: center;
}
div.inst-header-flags {
	flex: none;
	width: 130px;
	text-align: center;
}

div.inst-elem-op1 {
	flex: none;
	width: 200px;
	text-align: center;
}
div.inst-header-op1 {
	flex: none;
	width: 200px;
	text-align: center;
}

div.inst-elem-op2 {
	flex: none;
	width: 200px;
	text-align: center;
}
div.inst-header-op2 {
	flex: none;
	width: 200px;
	text-align: center;
}

div.inst-elem-extra {
	text-align: center;
}
div.inst-header-extra {
	text-align: center;
}




div.addr-elem-id {
	flex: none;
	width: 30px;
	color: rgb(150, 150, 150);
}
div.addr-header-id {
	flex: none;
	width: 30px;
}

div.addr-elem-mode {
	flex: none;
	width: 100px;
}
div.addr-header-mode {
	flex: none;
	width: 100px;
}

div.addr-elem-operands {
	flex: none;
	width: 220px;
	text-align: center;
}
div.addr-header-operands {
	flex: none;
	width: 220px;
	text-align: center;
}

/*div.addr-elem-sdesc {
}
div.addr-header-sdesc {
}*/



div.flg-elem-id {
	flex: none;
	width: 20px;
	margin-right: 20px;
	color: rgb(150, 150, 150);
}
div.flg-header-id {
	flex: none;
	width: 20px;
	margin-right: 20px;
}

div.flg-elem-flag {
	flex: none;
	width: 240px;
}
div.flg-header-flag {
	flex: none;
	width: 240px;
}

div.flg-elem-hex{
	flex: none;
	width: 100px;
}
div.flg-header-hex {
	flex: none;
	width: 100px;
}

div.flg-elem-inst {
	flex: none;
	width: 80px;
	color: darkblue;
	font-weight: bold;
}
div.flg-header-inst {
	flex: none;
	width: 80px;
}

/*div.flg-elem-sdesc {
}
div.flg-header-sdesc {
}*/





div.table-reg-elem {
	border-right: 1px solid rgb(40, 40, 40);
	border-bottom: 1px solid rgb(40, 40, 40);
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: darkgreen;
	background-color: rgb(255, 245, 210);
}

div.table-mem-elem {
	border-right: 1px solid rgb(40, 40, 40);
	border-bottom: 1px solid rgb(40, 40, 40);
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: darkblue;
	background-color: rgb(255, 245, 210);
}

div.table-addr-elem {
	border-right: 1px solid rgb(40, 40, 40);
	border-bottom: 1px solid rgb(40, 40, 40);
	text-align: center;
	font-size: 12px;
	padding: 1px;
	background-color: rgb(240, 230, 140);
}