body {
	background-color: #dbfaff;
	font-family: 'Courier New', Courier, monospace;
	text-align: left;
}

div, span, p {
	margin: 0;
	padding: 0;
}

p {
	display: inline-block;
}

div#page-title {
	font-size: 50px;
	font-weight: bold;
	width: 100%;
	display: inline-block;
	background-color: palegreen;
	border: 2px solid rgb(35, 35, 35);
	padding-top: 5px;
	color: rgb(35, 35, 35);
	text-align: center;
}

p.addr {
	color: rgb(30, 163, 52);
}

p.reg {
	color: rgb(63, 63, 235);
}

p.value {
	color: purple;
}

p.i-addr {
	color: rgb(0, 88, 0);
	font-style: italic;
}

p.i-reg {
	color: rgb(0, 0, 102);
	font-style: italic;
}

p.ref {
	color: rgb(238, 107, 0);
}

div.table-container {
	margin: auto;
	background-color: rgb(253, 245, 230);
	border: 2px solid rgb(80, 80, 80);
	color: rgb(70, 70, 70);
}

div.separator-row {
	width: 100%;
	height: 5px;
	border-bottom: 1px dashed rgb(120, 120, 120);
	margin-bottom: 5px;
	background-color: transparent;
}

div.table-title-row {
	width: 100%;
	background-color: rgb(199, 192, 230)	;
	color: rgb(37, 37, 37);
	display: flex;
	border-bottom: 2px solid rgb(80, 80, 80);
	border-top: 2px solid rgb(80, 80, 80);
}

div.table-title {
	font-size: 30px;
	background-color: yellowgreen;
	color: black;
	font-weight: bold;
	text-align: center;
	display: inline-block;
}

div.table-title-row > div.table-element {
	font-weight: bold;
}

div.table-title-row.table-title {
	border-top: none;
}

div.table-row {
	width: 100%;
	display: flex;
}

div.hover-row {
	cursor: pointer;
}

div.desc-row {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 0px;
	visibility: hidden;
	background-color: rgb(240, 230, 140);
	color: rgb(60, 60, 60);
}

div.desc-container {
	padding: 10px;
}
 
div.table-element {
	padding: 3px;
	display: inline-block;
	flex: 1;
	vertical-align: middle;
	font-size: 16;
	text-align: left;
}

div#top-bar {
	font-size: 20px;
	display: inline-block;
	width: 100%;
	background-color: rgb(62, 206, 62);
	border: 2px solid rgb(35, 35, 35);
	border-top: none;
	margin-bottom: 20px;
	color: rgb(35, 35, 35);
}

div.top-bar-button {
	display: inline-block;
	padding: 5px;
	cursor: pointer;
	border: 1px solid rgb(30, 82, 30);
	background-color: rgb(25, 172, 25);
	border-top: none;
	border-bottom: none;
	text-align: center;
	margin: 0px;
	margin-right: -10px;
}

div.top-bar-button:hover {
	background-color: rgb(62, 168, 62);
	color: #DDDDDD
}

p.addr-mode-keyword {
	color: blue;
	font-weight: bold;
	font-style: italic;
}

div.table-description {
	width: auto;
	padding: 10px;
	font-size: 16px;
	background-color: wheat;
	color: rgb(30, 30, 30);
	font-style: italic;
}